<div id="search-result-<%= user_paint.paint_id %>" class="search-result-item flex items-center gap-3 rounded-lg border p-3">
  <div class="w-10 h-10 rounded-full border shadow-sm" style="background-color: rgb(<%= user_paint.paint.red %>, <%= user_paint.paint.green %>, <%= user_paint.paint.blue %>);"></div>
  
  <div class="flex-1">
    <h3 class="font-medium"><%= user_paint.paint.name %></h3>
    <p class="text-xs opacity-70"><%= user_paint.paint.product_line.brand.name %> - <%= user_paint.paint.product_line.name %></p>
  </div>
  
  <div>
    <% if user_paint.virtual? %>
      <%= link_to new_user_paint_path(paint_id: user_paint.paint.id), class: "btn btn-sm btn-primary", data: { turbo_frame: "modal", turbo: true } do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 mr-1">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
        </svg>
        Add
      <% end %>
    <% else %>
      <% if user_paint.owned? %>
        <span class="badge badge-success">In Collection</span>
      <% elsif user_paint.wishlist? %>
        <span class="badge badge-warning">Wishlist</span>
      <% elsif user_paint.avoid? %>
        <span class="badge badge-error">Avoid</span>
      <% end %>
      <%= link_to user_paint_path(user_paint), class: "btn btn-sm btn-outline ml-2" do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
          <path stroke-linecap="round" stroke-linejoin="round" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
        </svg>
      <% end %>
    <% end %>
  </div>
</div>
