<%# app/views/user_paints/_user_paint.html.erb %>
<li id="<%= dom_id(user_paint) %>" class="flex items-center space-x-3 p-2 rounded-lg hover:bg-base-200">
  <div class="w-6 h-6 rounded-full border" style="background-color: <%= user_paint.paint.hex_color %>;"></div>
  <div class="flex-1">
    <p class="font-medium"><%= user_paint.paint.name %></p>
    <p class="text-xs opacity-70">
      <%= user_paint.paint.product_line.brand.name %> -
      <%= user_paint.paint.product_line.name %>
    </p>
  </div>
  <% if user_paint.owned? %>
    <div class="badge badge-success">Owned</div>
  <% elsif user_paint.wishlist? %>
    <div class="badge badge-warning">Wishlist</div>
  <% elsif user_paint.avoid? %>
    <div class="badge badge-error">Avoid</div>
  <% end %>
</li>
