<%= turbo_stream.replace "collection-counts" do %>
  <div id="collection-counts" class="tabs tabs-boxed mb-6">
    <%= link_to user_paints_path(params.permit(:search, :brand_id, :product_line_id, :color).except(:status)),
            class: "tab #{params[:status].blank? ? 'tab-active' : ''}" do %>
      All (<%= current_user.user_paints.count %>)
    <% end %>
    
    <%= link_to user_paints_path(params.permit(:search, :brand_id, :product_line_id, :color).merge(status: :owned)),
            class: "tab #{params[:status] == 'owned' ? 'tab-active' : ''}" do %>
      Owned (<%= current_user.user_paints.owned.count %>)
    <% end %>
    
    <%= link_to user_paints_path(params.permit(:search, :brand_id, :product_line_id, :color).merge(status: :wishlist)),
            class: "tab #{params[:status] == 'wishlist' ? 'tab-active' : ''}" do %>
      Wishlist (<%= current_user.user_paints.wishlist.count %>)
    <% end %>
    
    <%= link_to user_paints_path(params.permit(:search, :brand_id, :product_line_id, :color).merge(status: :avoid)),
            class: "tab #{params[:status] == 'avoid' ? 'tab-active' : ''}" do %>
      Avoid (<%= current_user.user_paints.avoid.count %>)
    <% end %>
  </div>
<% end %>

<%= turbo_stream.update "collection-results" do %>
  <% if @user_paints.any? %>
     <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        <% @user_paints.each do |user_paint| %>
          <%= render 'user_paints/collection_paint_card', user_paint: user_paint %>
        <% end %>
      </div>
    <div class="mt-8 flex justify-center">
      <%== pagy_nav(@pagy) %>
    </div>
  <% else %>
    <%= render 'no_paints' %>
  <% end %>
<% end %>

<% if @user_paint.present? %>
  <% if @previous_status != @user_paint.status %>
    <%# Remove the paint card if it's no longer in this collection %>
    <%= turbo_stream.remove dom_id(@user_paint) %>
  <% else %>
    <%# Update the paint card if it's still in this collection %>
    <%= turbo_stream.replace dom_id(@user_paint) do %>
      <%= render 'user_paints/collection_paint_card', user_paint: @user_paint %>
    <% end %>
  <% end %>
<% end %>
