<title><%= content_for(:title) || "PaintHoarder" %> </title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no viewport-fit=cover">
<meta name="description" content="PaintHoarder: The ultimate paint inventory system for miniature enthusiasts. Track, organize, and master your miniature painting arsenal. Never buy duplicates or run out of crucial colors again. Command your collection!">
<meta name="keywords" content="miniature paint tracker, Warhammer paint collection, paint inventory app, miniature painting organizer, hobby paint management, Citadel paint tracker, paint collection database, miniature hobby manager, Warhammer hobby tool, paint inventory system, paint collection organizer, model painting supplies, Age of Sigmar paints, 40k painting, paint stash manager, hobby paint vault, miniature painting app">
<meta name="author" content="khairi.my">
<meta name="view-transition" content="same-origin" />
<meta name="turbo-prefetch" content="false">
<%= csrf_meta_tags %>
<%= csp_meta_tag %>
<%= action_cable_meta_tag%>
<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
<%= stylesheet_link_tag "application-main", "data-turbo-track": "reload" %>
<%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
<%= yield :head %>
<!-- <link rel="manifest" href="/manifest.json"> -->
<link rel="icon" href="/icon.png" type="image/png">
<link rel="apple-touch-icon" href="/icon.png">
<script>
  document.documentElement.setAttribute('data-theme', window.localStorage.getItem('theme'))
</script>
