<!DOCTYPE html>
<html class="h-full bg-base scrollbar-rounded" lang="en">
  <head>
    <%= render "layouts/head" %>
  </head>
  <body class="h-full drawer drawer-end">
    <input id="my-drawer" type="checkbox" class="drawer-toggle" />
    <div class="flex min-h-screen drawer-content">
      <div class="flex flex-1 flex-col justify-center px-4 py-12 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
        <div class="mx-auto w-full max-w-sm lg:w-96">
          <div title="Change Theme" class="absolute top-2 right-2">
            <label for="my-drawer" class="btn btn-square btn-ghost drawer-button text-primary">
              <%= icon :swatch %>
            </label>
          </div>
          <div>
            <a href="/" aria-current="page" aria-label="Homepage" class="flex-0 btn btn-ghost px-2">

              <div class="font-title inline-flex text-lg md:text-2xl">
                <span class="lowercase">Paint</span>
                <span class="uppercase text-[#1AD1A5]">Stash</span>
              </div>
            </a>
          </div>
          <div class="mt-10 ">
            <%= yield %>
          </div>
        </div>
      </div>
      <div class="absolute md:relative flex-1 inset-0 h-96 md:h-full box-content -z-10 w-full ">
        <%random_bg = [
          "https://images.unsplash.com/photo-1529981188441-8a2e6fe30103?q=80&w=2540",
          "https://images.unsplash.com/photo-1585328405750-278751791528?q=80&w=2500&auto=format&fit=crop",
          "https://images.unsplash.com/photo-1640520941957-53d77a3bbeff?q=80&w=2500",
          "https://images.unsplash.com/photo-1568223880170-bb6fcceab9ed?q=80&w=2500",
          "https://images.unsplash.com/photo-1696516089248-cb21c98d2049?q=80&w=2500",
          "https://images.unsplash.com/photo-1640520942682-5bbdc33ca5ba?q=80&w=2500",
          "https://images.unsplash.com/photo-1640520939407-f35361e7638d?q=80&w=2500"
        ]
        %>
        <img class="absolute inset-0 w-full h-full bg-top bg-cover object-cover opacity-90 max-w-full" src="<%=random_bg.sample%>" alt="">
        <div aria-hidden="true" class="absolute inset-0 bg-gradient-to-t md:bg-gradient-to-r from-base-100 to-transparent w-full"></div>
      </div>
    </div>
    <div class="drawer-side">
      <label for="my-drawer" class="drawer-overlay"></label>
      <ul class="menu px-4 py-0 w-80 bg-base-200 text-base-content" data-controller="theme">
        <% themes.each do |theme| %>
          <li>
            <a tabindex="0" class="after:absolute after:inset-0" data-action="click->theme#switch" data-theme-value="<%= theme %>"><%= theme.humanize %>
              <div class="flex flex-wrap gap-1 ms-auto" data-theme="<%= theme %>">
                <div class="bg-primary flex aspect-square w-5 items-center justify-center rounded lg:w-6">
                  <div class="text-primary-content text-sm font-bold">A</div>
                </div>
                <div class="bg-secondary flex aspect-square w-5 items-center justify-center rounded lg:w-6">
                  <div class="text-secondary-content text-sm font-bold">A</div>
                </div>
                <div class="bg-accent flex aspect-square w-5 items-center justify-center rounded lg:w-6">
                  <div class="text-accent-content text-sm font-bold">A</div>
                </div>
                <div class="bg-neutral flex aspect-square w-5 items-center justify-center rounded lg:w-6">
                  <div class="text-neutral-content text-sm font-bold">A</div>
                </div>
              </div>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
    <%= render "layouts/analytics" %>
  </body>
</html>
